@tailwind base;
@tailwind components;
@tailwind utilities;

.circle {
  margin-left: -120px;
  margin-top: -90px;
  width: 230px;
  height: 230px;
  background: linear-gradient(to bottom, #3c359c 40%, #3c359c 70%);
  filter: blur(130px);
}
body {
  font-family: "Open Sans", sans-serif;
}
